// BACKGROUND COLORS
$white-bg-color: #FFFFFF;
$accent-bg-color: #7A5CFA;
$secondary-bg-color: #EEF2F4;
$black-bg-color: #000000;
$gray-bg-color: #B8C6CF;
$red-bg-color: #EB5757;

$overlay-bg-color: #585858A3;

// OTHER COLORS
$black-color: #000000;
$white-color: #FFFFFF;
$accent-color: #7A5CFA;

// TEXT COLORS
$white-text-color: #FFFFFF;
$black-text-color: #000000;
$gray-text-color: #86969C;
$red-text-color: #EB5757;

// MEDIA QUERY
$desktop: 1920;
$laptop: 1280;
$tablet: 768;
$mobile: 489;

// BLOCKS SIZES
